doctype html
html(lang='ru')
	head
		title main

		include ./partials/head.jade

	body
		include ./partials/noscript.jade
		include ./partials/top-line.jade

		include ./partials/breadcrumbs.jade

		.black-plate

		section.content
			.container
				.content-body.inline-layout
					.aside-open#aside-open
					.aside-panel#aside-panel
						.close-btn#aside-slose
						.genre
							h2 Выбрать книгу по жанру
							ul.genre-list#genre-list
								li
									a(href="") Детективы и боевики
									ul
										li
											a(href="") Детская образовательная
										li
											a(href="") Детские стихи
										li
											a(href="") Детские: прочее
										li
											a(href="") Сказки
								li
									a(href="") Детские
									ul
										li
											a(href="") Детская образовательная
										li
											a(href="") Детские стихи
										li
											a(href="") Детские: прочее
										li
											a(href="") Сказки
								li
									a(href="") Документальное
									ul
										li
											a(href="") Детская образовательная
										li
											a(href="") Детские стихи
										li
											a(href="") Детские: прочее
										li
											a(href="") Сказки
								li
									a(href="") Дом и семья
									ul
										li
											a(href="") Детская образовательная
										li
											a(href="") Детские стихи
										li
											a(href="") Детские: прочее
										li
											a(href="") Сказки
								li
									a(href="") Компьютеры и интернет
									ul
										li
											a(href="") Детская образовательная
										li
											a(href="") Детские стихи
										li
											a(href="") Детские: прочее
										li
											a(href="") Сказки
								li
									a(href="") Любовные романы
									ul
										li
											a(href="") Детская образовательная
										li
											a(href="") Детские стихи
										li
											a(href="") Детские: прочее
										li
											a(href="") Сказки
								li
									a(href="") Научно образовательная
									ul
										li
											a(href="") Детская образовательная
										li
											a(href="") Детские стихи
										li
											a(href="") Детские: прочее
										li
											a(href="") Сказки
								li
									a(href="") Неизвестно
									ul
										li
											a(href="") Детская образовательная
										li
											a(href="") Детские стихи
										li
											a(href="") Детские: прочее
										li
											a(href="") Сказки
								li
									a(href="") Поэзия и драматургия
									ul
										li
											a(href="") Детская образовательная
										li
											a(href="") Детские стихи
										li
											a(href="") Детские: прочее
										li
											a(href="") Сказки
								li
									a(href="") Приключения
									ul
										li
											a(href="") Детская образовательная
										li
											a(href="") Детские стихи
										li
											a(href="") Детские: прочее
										li
											a(href="") Сказки
								li
									a(href="") Проза
									ul
										li
											a(href="") Детская образовательная
										li
											a(href="") Детские стихи
										li
											a(href="") Детские: прочее
										li
											a(href="") Сказки
								li
									a(href="") Старинная литература
									ul
										li
											a(href="") Детская образовательная
										li
											a(href="") Детские стихи
										li
											a(href="") Детские: прочее
										li
											a(href="") Сказки
								li
									a(href="") Фантастика
									ul
										li
											a(href="") Детская образовательная
										li
											a(href="") Детские стихи
										li
											a(href="") Детские: прочее
										li
											a(href="") Сказки
								li
									a(href="") Экономика
									ul
										li
											a(href="") Детская образовательная
										li
											a(href="") Детские стихи
										li
											a(href="") Детские: прочее
										li
											a(href="") Сказки
								li
									a(href="") Эротика
									ul
										li
											a(href="") Детская образовательная
										li
											a(href="") Детские стихи
										li
											a(href="") Детские: прочее
										li
											a(href="") Сказки
								li
									a(href="") Юмор
									ul
										li
											a(href="") Детская образовательная
										li
											a(href="") Детские стихи
										li
											a(href="") Детские: прочее
										li
											a(href="") Сказки
						.panel-1.announc
							h3 Анонс
							ul
								li
									a(href="#")
										.image-holder
											img(src="img/content/anounc-1.png", alt="")
										p Что сделала бы Грейс?
										span Джина Маккинон
								li
									a(href="#")
										.image-holder
											img(src="img/content/anounc-2.png", alt="")
										p Леди из "Миссолонги"
										span Колин Маккалоу
								li
									a(href="#")
										.image-holder
											img(src="img/content/anounc-3.png", alt="")
										p Отбор
										span Кира Касс
					.content-holder
						.gen-line
							h4 Авторы
						.filters-holder
							h5 Поиск автора книги:

							
						.authors-list
							ul.inline-layout.col-5
								li
									a(href="#")
										.image-holder
											img(src="img/content/auhtor-1.png", alt="")
										.text-holder
											p Стивен Кинг
											span 176 книг
								li
									a(href="#")
										.image-holder
											img(src="img/content/auhtor-2.png", alt="")
										.text-holder
											p Джорджо Мойес
											span 176 книг
								li
									a(href="#")
										.image-holder
											img(src="img/content/auhtor-3.png", alt="")
										.text-holder
											p Макс Фрай
											span 176 книг
								li
									a(href="#")
										.image-holder
											img(src="img/content/auhtor-4.png", alt="")
										.text-holder
											p Ли Чайлд
											span 176 книг
								li
									a(href="#")
										.image-holder
											img(src="img/content/auhtor-5.png", alt="")
										.text-holder
											p Анджей Сапковский
											span 176 книг
								li
									a(href="#")
										.image-holder
											img(src="img/content/auhtor-1.png", alt="")
										.text-holder
											p Стивен Кинг
											span 176 книг
								li
									a(href="#")
										.image-holder
											img(src="img/content/auhtor-2.png", alt="")
										.text-holder
											p Джорджо Мойес
											span 176 книг
								li
									a(href="#")
										.image-holder
											img(src="img/content/auhtor-3.png", alt="")
										.text-holder
											p Макс Фрай
											span 176 книг
								li
									a(href="#")
										.image-holder
											img(src="img/content/auhtor-4.png", alt="")
										.text-holder
											p Ли Чайлд
											span 176 книг
								li
									a(href="#")
										.image-holder
											img(src="img/content/auhtor-5.png", alt="")
										.text-holder
											p Анджей Сапковский
											span 176 книг

						.pagination-holder
							ul.pagination
								li
									a(href="#").prev
								li
									a(href="#") 1
								li
									a(href="#") 2
								li
									a(href="#") 3
								li
									a(href="#") 4
								li
									a(href="#") ...
								li
									a(href="#") 1728
								li
									a(href="#").next
							.to-page
								form(action="")
									input(type="text")
									a(href="#") Перейти
						.sale.book
							.inline-layout.col-4
								.sale-col
									a(href="#")
										.sale-item
											.image-holder
												img(src="img/content/sale-1.png", alt="")
											.description
												p
													|Распродажа качественной женской обуви.
								.sale-col
									a(href="#")
										.sale-item
											.image-holder
												img(src="img/content/sale-2.png", alt="")
											.description
												p
													|Распродажа качественной женской обуви.
								.sale-col
									a(href="#")
										.sale-item
											.image-holder
												img(src="img/content/sale-3.png", alt="")
											.description
												p
													|Распродажа качественной женской обуви.
								.sale-col
									a(href="#")
										.sale-item
											.image-holder
												img(src="img/content/sale-4.png", alt="")
											.description
												p
													|Распродажа качественной женской обуви.


							
		include ./partials/footer.jade

		include ./partials/scripts.jade
