doctype html
html(lang='ru')
	head
		title books_group

		include ./partials/head.jade

	body
		include ./partials/noscript.jade
		include ./partials/top-line.jade


		include ./partials/breadcrumbs.jade

		section.content
			.container
				.content-body.inline-layout
					.aside-panel
						.panel-1.popul
							h3 Популярные Статьи
							ul
								li
									a(href="#")
										.image-holder
											img(src="img/content/pop-1.png", alt="")
										span 9 декабря 2016
										p Какой формат книг вам подходит?
								li
									a(href="#")
										.image-holder
											img(src="img/content/pop-2.png", alt="")
										span 1 декабля 2016
										p 5 самых лучших книг, которые стоит прочитать зимними вечерами
								li
									a(href="#")
										.image-holder
											img(src="img/content/pop-3.png", alt="")
										span 26 ноября 2016
										p Топ-20 книг, о прочтении которых лгут чаще всего
						.panel-1.announc
							h3 Анонс
							ul
								li
									a(href="#")
										.image-holder
											img(src="img/content/anounc-1.png", alt="")
										p Что сделала бы Грейс?
										span Джина Маккинон
								li
									a(href="#")
										.image-holder
											img(src="img/content/anounc-2.png", alt="")
										p Леди из "Миссолонги"
										span Колин Маккалоу
								li
									a(href="#")
										.image-holder
											img(src="img/content/anounc-3.png", alt="")
										p Отбор
										span Кира Касс
						.panel-1
							h3 Популярные Авторы
							ul
								li
									a(href="#")
										.image-holder
											img(src="img/content/auhtor-1.png", alt="")
										p Стивен Кинг
										span 176 книг
								li
									a(href="#")
										.image-holder
											img(src="img/content/auhtor-2.png", alt="")
										p Джорджо Мойес
										span 176 книг
								li
									a(href="#")
										.image-holder
											img(src="img/content/auhtor-3.png", alt="")
										p Макс Фрай
										span 176 книг

					.content-holder
						.gen-line
							h4 Серия книг "Хроники Нарнии"
						
						.library-list
							.inline-layout.col-2
								.lib-col
									.lib-item
										.head
											.image-holder
												img(src="img/content/photo_book-1.png", alt="")
											h5 Лолита
											ul.book-des
												li
													p Автор: 
														span Кира Касс
												li
													p Жанр: 
														span Сказки
												li
													p Дата добавления: 
														span 15/11/2014
												li
													p Языки книги: 
														span Русский
												li
													p Кол-во страниц: 
														span 430
										.description
											p
												|Главная героиня, Америка Сингер, стала одной из тридцати пяти девушек, отобранных для участия в "соревнованиях" за сердце принца Максона и возможность стать будущей королевой и жить в...
										.btns
											a(href="#").button Читать
											a(href="#") В избранное
											a(href="#") О книге
								.lib-col
									.lib-item
										.head
											.image-holder
												img(src="img/content/photo_book-2.png", alt="")
											h5 Лолита
											ul.book-des
												li
													p Автор: 
														span Кира Касс
												li
													p Жанр: 
														span Сказки
												li
													p Дата добавления: 
														span 15/11/2014
												li
													p Языки книги: 
														span Русский
												li
													p Кол-во страниц: 
														span 430
										.description
											p
												|Главная героиня, Америка Сингер, стала одной из тридцати пяти девушек, отобранных для участия в "соревнованиях" за сердце принца Максона и возможность стать будущей королевой и жить в...
										.btns
											a(href="#").button Читать
											a(href="#") В избранное
											a(href="#") О книге
								.lib-col
									.lib-item
										.head
											.image-holder
												img(src="img/content/photo_book-3.png", alt="")
											h5 Лолита
											ul.book-des
												li
													p Автор: 
														span Кира Касс
												li
													p Жанр: 
														span Сказки
												li
													p Дата добавления: 
														span 15/11/2014
												li
													p Языки книги: 
														span Русский
												li
													p Кол-во страниц: 
														span 430
										.description
											p
												|Главная героиня, Америка Сингер, стала одной из тридцати пяти девушек, отобранных для участия в "соревнованиях" за сердце принца Максона и возможность стать будущей королевой и жить в...
										.btns
											a(href="#").button Читать
											a(href="#") В избранное
											a(href="#") О книге
								.lib-col
									.lib-item
										.head
											.image-holder
												img(src="img/content/photo_book-4.png", alt="")
											h5 Лолита
											ul.book-des
												li
													p Автор: 
														span Кира Касс
												li
													p Жанр: 
														span Сказки
												li
													p Дата добавления: 
														span 15/11/2014
												li
													p Языки книги: 
														span Русский
												li
													p Кол-во страниц: 
														span 430
										.description
											p
												|Главная героиня, Америка Сингер, стала одной из тридцати пяти девушек, отобранных для участия в "соревнованиях" за сердце принца Максона и возможность стать будущей королевой и жить в...
										.btns
											a(href="#").button Читать
											a(href="#") В избранное
											a(href="#") О книге
								.lib-col
									.lib-item
										.head
											.image-holder
												img(src="img/content/photo_book-5.png", alt="")
											h5 Лолита
											ul.book-des
												li
													p Автор: 
														span Кира Касс
												li
													p Жанр: 
														span Сказки
												li
													p Дата добавления: 
														span 15/11/2014
												li
													p Языки книги: 
														span Русский
												li
													p Кол-во страниц: 
														span 430
										.description
											p
												|Главная героиня, Америка Сингер, стала одной из тридцати пяти девушек, отобранных для участия в "соревнованиях" за сердце принца Максона и возможность стать будущей королевой и жить в...
										.btns
											a(href="#").button Читать
											a(href="#") В избранное
											a(href="#") О книге
								.lib-col
									.lib-item
										.head
											.image-holder
												img(src="img/content/photo_book-6.png", alt="")
											h5 Лолита
											ul.book-des
												li
													p Автор: 
														span Кира Касс
												li
													p Жанр: 
														span Сказки
												li
													p Дата добавления: 
														span 15/11/2014
												li
													p Языки книги: 
														span Русский
												li
													p Кол-во страниц: 
														span 430
										.description
											p
												|Главная героиня, Америка Сингер, стала одной из тридцати пяти девушек, отобранных для участия в "соревнованиях" за сердце принца Максона и возможность стать будущей королевой и жить в...
										.btns
											a(href="#").button Читать
											a(href="#") В избранное
											a(href="#") О книге
								.lib-col
									.lib-item
										.head
											.image-holder
												img(src="img/content/photo_book-7.png", alt="")
											h5 Лолита
											ul.book-des
												li
													p Автор: 
														span Кира Касс
												li
													p Жанр: 
														span Сказки
												li
													p Дата добавления: 
														span 15/11/2014
												li
													p Языки книги: 
														span Русский
												li
													p Кол-во страниц: 
														span 430
										.description
											p
												|Главная героиня, Америка Сингер, стала одной из тридцати пяти девушек, отобранных для участия в "соревнованиях" за сердце принца Максона и возможность стать будущей королевой и жить в...
										.btns
											a(href="#").button Читать
											a(href="#") В избранное
											a(href="#") О книге
								.lib-col
									.lib-item
										.head
											.image-holder
												img(src="img/content/photo_book-8.png", alt="")
											h5 Лолита
											ul.book-des
												li
													p Автор: 
														span Кира Касс
												li
													p Жанр: 
														span Сказки
												li
													p Дата добавления: 
														span 15/11/2014
												li
													p Языки книги: 
														span Русский
												li
													p Кол-во страниц: 
														span 430
										.description
											p
												|Главная героиня, Америка Сингер, стала одной из тридцати пяти девушек, отобранных для участия в "соревнованиях" за сердце принца Максона и возможность стать будущей королевой и жить в...
										.btns
											a(href="#").button Читать
											a(href="#") В избранное
											a(href="#") О книге
						.pagination-holder
							ul.pagination
								li
									a(href="#").prev
								li
									a(href="#") 1
								li
									a(href="#") 2
								li
									a(href="#") 3
								li
									a(href="#") 4
								li
									a(href="#") ...
								li
									a(href="#") 1728
								li
									a(href="#").next


						.sale
							.inline-layout.col-4
								.sale-col
									a(href="#")
										.sale-item
											.image-holder
												img(src="img/content/sale-1.png", alt="")
											.description
												p
													|Распродажа качественной женской обуви.
								.sale-col
									a(href="#")
										.sale-item
											.image-holder
												img(src="img/content/sale-2.png", alt="")
											.description
												p
													|Распродажа качественной женской обуви.
								.sale-col
									a(href="#")
										.sale-item
											.image-holder
												img(src="img/content/sale-3.png", alt="")
											.description
												p
													|Распродажа качественной женской обуви.
								.sale-col
									a(href="#")
										.sale-item
											.image-holder
												img(src="img/content/sale-4.png", alt="")
											.description
												p
													|Распродажа качественной женской обуви.


							
		include ./partials/footer.jade

		include ./partials/scripts.jade
