doctype html
html(lang='ru')
	head
		title main

		include ./partials/head.jade

	body
		include ./partials/noscript.jade
		include ./partials/top-line.jade

		include ./partials/breadcrumbs.jade

		.black-plate

		section.content
			.container
				.content-body.inline-layout
					.aside-open#aside-open
					.aside-panel#aside-panel
						.close-btn#aside-slose
						.genre
							h2 Выбрать книгу по жанру
							ul.genre-list#genre-list
								li
									a(href="") Детективы и боевики
									ul
										li
											a(href="") Детская образовательная
										li
											a(href="") Детские стихи
										li
											a(href="") Детские: прочее
										li
											a(href="") Сказки
								li
									a(href="") Детские
									ul
										li
											a(href="") Детская образовательная
										li
											a(href="") Детские стихи
										li
											a(href="") Детские: прочее
										li
											a(href="") Сказки
								li
									a(href="") Документальное
									ul
										li
											a(href="") Детская образовательная
										li
											a(href="") Детские стихи
										li
											a(href="") Детские: прочее
										li
											a(href="") Сказки
								li
									a(href="") Дом и семья
									ul
										li
											a(href="") Детская образовательная
										li
											a(href="") Детские стихи
										li
											a(href="") Детские: прочее
										li
											a(href="") Сказки
								li
									a(href="") Компьютеры и интернет
									ul
										li
											a(href="") Детская образовательная
										li
											a(href="") Детские стихи
										li
											a(href="") Детские: прочее
										li
											a(href="") Сказки
								li
									a(href="") Любовные романы
									ul
										li
											a(href="") Детская образовательная
										li
											a(href="") Детские стихи
										li
											a(href="") Детские: прочее
										li
											a(href="") Сказки
								li
									a(href="") Научно образовательная
									ul
										li
											a(href="") Детская образовательная
										li
											a(href="") Детские стихи
										li
											a(href="") Детские: прочее
										li
											a(href="") Сказки
								li
									a(href="") Неизвестно
									ul
										li
											a(href="") Детская образовательная
										li
											a(href="") Детские стихи
										li
											a(href="") Детские: прочее
										li
											a(href="") Сказки
								li
									a(href="") Поэзия и драматургия
									ul
										li
											a(href="") Детская образовательная
										li
											a(href="") Детские стихи
										li
											a(href="") Детские: прочее
										li
											a(href="") Сказки
								li
									a(href="") Приключения
									ul
										li
											a(href="") Детская образовательная
										li
											a(href="") Детские стихи
										li
											a(href="") Детские: прочее
										li
											a(href="") Сказки
								li
									a(href="") Проза
									ul
										li
											a(href="") Детская образовательная
										li
											a(href="") Детские стихи
										li
											a(href="") Детские: прочее
										li
											a(href="") Сказки
								li
									a(href="") Старинная литература
									ul
										li
											a(href="") Детская образовательная
										li
											a(href="") Детские стихи
										li
											a(href="") Детские: прочее
										li
											a(href="") Сказки
								li
									a(href="") Фантастика
									ul
										li
											a(href="") Детская образовательная
										li
											a(href="") Детские стихи
										li
											a(href="") Детские: прочее
										li
											a(href="") Сказки
								li
									a(href="") Экономика
									ul
										li
											a(href="") Детская образовательная
										li
											a(href="") Детские стихи
										li
											a(href="") Детские: прочее
										li
											a(href="") Сказки
								li
									a(href="") Эротика
									ul
										li
											a(href="") Детская образовательная
										li
											a(href="") Детские стихи
										li
											a(href="") Детские: прочее
										li
											a(href="") Сказки
								li
									a(href="") Юмор
									ul
										li
											a(href="") Детская образовательная
										li
											a(href="") Детские стихи
										li
											a(href="") Детские: прочее
										li
											a(href="") Сказки
						.panel-1
							h3 Популярные Авторы
							ul
								li
									a(href="#")
										.image-holder
											img(src="http://ic.pics.livejournal.com/harmoniq_app/67697618/191568/191568_original.jpg", alt="")
										p Стивен Кинг
										span.books-count 176
										span книг
								li
									a(href="#")
										.image-holder
											img(src="http://ic.pics.livejournal.com/harmoniq_app/67697618/191238/191238_original.jpg", alt="")
										p Джорджо Мойес
										span.books-count 176
										span книг
								li
									a(href="#")
										.image-holder
											img(src="http://ic.pics.livejournal.com/harmoniq_app/67697618/191988/191988_original.jpg", alt="")
										p Макс Фрай
										span.books-count 176
										span книг
								li
									a(href="#")
										.image-holder
											img(src="http://ic.pics.livejournal.com/harmoniq_app/67697618/196721/196721_original.jpg", alt="")
										p Ли Чайлд
										span.books-count 176
										span книг
								li
									a(href="#")
										.image-holder
											img(src="http://ic.pics.livejournal.com/harmoniq_app/67697618/191238/191238_original.jpg", alt="")
										p Анджей Сапковский
										span.books-count 176
										span книг
								li
									a(href="#")
										.image-holder
											img(src="http://ic.pics.livejournal.com/harmoniq_app/67697618/198924/198924_original.jpg", alt="")
										p Харуки Мураками
										span.books-count 176
										span книг
						.panel-1.announc
							h3 Анонс
							ul
								li
									a(href="#")
										.image-holder
											img(src="http://www.rulit.me/data/programs/images/do-vstrechi-s-toboj_296554.jpg", alt="")
										p Что сделала бы Грейс?
										span Джина Маккинон
								li
									a(href="#")
										.image-holder
											img(src="http://www.bookvoed.ru/files/1377/25/62/38/3.jpg", alt="")
										p Леди из "Миссолонги"
										span Колин Маккалоу
								li
									a(href="#")
										.image-holder
											img(src="http://www.fresher.ru/manager_content/images2/samye-populyarnye-knigi-2014-goda/5.jpg", alt="")
										p Отбор
										span Кира Касс
						.panel-1.popul
							h3 Популярные Статьи
							ul
								li
									a(href="#")
										.image-holder
											img(src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQOH3fZT9B05igu6t9EPd1Vi90-Zh7HiQze2g1QqjmMgFhI4hRb", alt='img/content/anounc-1.png')
										span 9 декабря 2016
										p Какой формат книг вам подходит?
								li
									a(href="#")
										.image-holder
											img(src="http://lambre.by/images/givenchy-hot-couture-eva-herzigova-2.jpg", alt="")
										span 1 декабля 2016
										p 5 самых лучших книг, которые стоит прочитать зимними вечерами
								li
									a(href="#")
										.image-holder
											img(src="http://s019.radikal.ru/i605/1312/1d/659a09110db4.jpg", alt="")
										span 26 ноября 2016
										p Топ-20 книг, о прочтении которых лгут чаще всего

					.content-holder
						.gen-line
							h4 Статьи
						.top-holder
							.inline-layout.col-1
								.top-item
									.image-holder
										img.fake-img(src='http://laginlib.org.ua/blog/wp-content/uploads/2013/03/PFeEUEYX1NA.jpg', alt='img/content/anounc-1.png')
										.img(style='background-image: url("http://laginlib.org.ua/blog/wp-content/uploads/2013/03/PFeEUEYX1NA.jpg")')
									.text-holder
										p
											| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam ratione assumenda iusto reiciendis magni facere, tenetur recusandae sapiente quod temporibus sed dolorum, accusantium. Fuga quasi iusto quis adipisci dicta minus?
							.inline-layout.col-3
								.top-item
									.image-holder
										img.fake-img(src='http://laginlib.org.ua/blog/wp-content/uploads/2013/03/PFeEUEYX1NA.jpg', alt='img/content/anounc-1.png')
										.img(style='background-image: url("http://laginlib.org.ua/blog/wp-content/uploads/2013/03/PFeEUEYX1NA.jpg")')
									.text-holder
										p
											| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam ratione assumenda iusto reiciendis magni facere, tenetur recusandae sapiente quod temporibus sed dolorum, accusantium. Fuga quasi iusto quis adipisci dicta minus?
								.top-item
									.image-holder
										img.fake-img(src='http://img0.liveinternet.ru/images/attach/b/4/113/747/113747246_kniga_2.jpg', alt='img/content/anounc-1.png')
										.img(style='background-image: url("http://img0.liveinternet.ru/images/attach/b/4/113/747/113747246_kniga_2.jpg")')
									.text-holder
										p
											| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam ratione assumenda iusto reiciendis magni facere, tenetur recusandae sapiente quod temporibus sed dolorum, accusantium. Fuga quasi iusto quis adipisci dicta minus?
								.top-item
									.image-holder
										img.fake-img(src='http://img0.liveinternet.ru/images/attach/c/5/87/408/87408596_I8VOELHvc.jpg', alt='img/content/anounc-1.png')
										.img(style='background-image: url("http://img0.liveinternet.ru/images/attach/c/5/87/408/87408596_I8VOELHvc.jpg")')
									.text-holder
										p
											| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam ratione assumenda iusto reiciendis magni facere, tenetur recusandae sapiente quod temporibus sed dolorum, accusantium. Fuga quasi iusto quis adipisci dicta minus?
							.inline-layout.col-2
								.top-item
									.image-holder
										img.fake-img(src='http://laginlib.org.ua/blog/wp-content/uploads/2013/03/PFeEUEYX1NA.jpg', alt='img/content/anounc-1.png')
										.img(style='background-image: url("http://laginlib.org.ua/blog/wp-content/uploads/2013/03/PFeEUEYX1NA.jpg")')
									.text-holder
										p
											| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam ratione assumenda iusto reiciendis magni facere, tenetur recusandae sapiente quod temporibus sed dolorum, accusantium. Fuga quasi iusto quis adipisci dicta minus?
								.top-item
									.image-holder
										img.fake-img(src='http://img0.liveinternet.ru/images/attach/b/4/113/747/113747246_kniga_2.jpg', alt='img/content/anounc-1.png')
										.img(style='background-image: url("http://img0.liveinternet.ru/images/attach/b/4/113/747/113747246_kniga_2.jpg")')
									.text-holder
										p
											| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam ratione assumenda iusto reiciendis magni facere, tenetur recusandae sapiente quod temporibus sed dolorum, accusantium. Fuga quasi iusto quis adipisci dicta minus?
						.gen-line
							h4 Новинки
						.top-holder.books-h
							.inline-layout
								.top-item.gold
									.image-holder
										img.fake-img(src='http://www.rulit.me/data/programs/images/do-vstrechi-s-toboj_296554.jpg', alt='img/content/anounc-1.png')
										.img(style='background-image: url("http://www.rulit.me/data/programs/images/do-vstrechi-s-toboj_296554.jpg")')
										.posabs-holder
											.posab
												span NEW
											.posab.green
												span NEW
											.posab.pink
												span NEW
									.text-holder
										h4 Хроники Нарнии
										p
											| Автор: Том Селинджер
								.top-item.gold
									.image-holder
										img.fake-img(src='http://www.bookvoed.ru/files/1377/25/62/38/3.jpg', alt='img/content/anounc-2.png')
										.img(style='background-image: url("http://www.bookvoed.ru/files/1377/25/62/38/3.jpg")')
										.posabs-holder
											.posab
												span NEW
									.text-holder
										h4 Хроники Нарнии Хроники Нарнии
										p
											| Автор: Том Селинджер Автор: Том Селинджер Автор: Том Селинджер
								.top-item.gold
									.image-holder
										img.fake-img(src='http://www.fresher.ru/manager_content/images2/samye-populyarnye-knigi-2014-goda/5.jpg', alt='img/content/anounc-3.png')
										.img(style='background-image: url("http://www.fresher.ru/manager_content/images2/samye-populyarnye-knigi-2014-goda/5.jpg")')
										.posabs-holder
											.posab
												span NEW
									.text-holder
										h4 Хроники Нарнии
										p
											| Автор: Том Селинджер
								.top-item.gold
									.image-holder
										img.fake-img(src='https://s-media-cache-ak0.pinimg.com/564x/77/52/22/775222663126f951f4e363d68ede8147.jpg', alt='img/content/anounc-3.png')
										.img(style='background-image: url("https://s-media-cache-ak0.pinimg.com/564x/77/52/22/775222663126f951f4e363d68ede8147.jpg")')
										.posabs-holder
											.posab
												span NEW
									.text-holder
										h4 Хроники Нарнии
										p
											| Автор: Том Селинджер
						.gen-line
							h4 Популярные
						.top-holder.books-h
							.inline-layout
								.top-item.gold
									.image-holder
										img.fake-img(src='http://www.rulit.me/data/programs/images/do-vstrechi-s-toboj_296554.jpg', alt='img/content/anounc-1.png')
										.img(style='background-image: url("http://www.rulit.me/data/programs/images/do-vstrechi-s-toboj_296554.jpg")')
										.posabs-holder
											.posab.green
												span LIDERS
									.text-holder
										h4 Хроники Нарнии
										p
											| Автор: Том Селинджер
								.top-item.gold
									.image-holder
										img.fake-img(src='http://www.bookvoed.ru/files/1377/25/62/38/3.jpg', alt='img/content/anounc-2.png')
										.img(style='background-image: url("http://www.bookvoed.ru/files/1377/25/62/38/3.jpg")')
										.posabs-holder
											.posab.green
												span LIDERS
									.text-holder
										h4 Хроники Нарнии Хроники Нарнии
										p
											| Автор: Том Селинджер Автор: Том Селинджер Автор: Том Селинджер
								.top-item.gold
									.image-holder
										img.fake-img(src='http://www.fresher.ru/manager_content/images2/samye-populyarnye-knigi-2014-goda/5.jpg', alt='img/content/anounc-3.png')
										.img(style='background-image: url("http://www.fresher.ru/manager_content/images2/samye-populyarnye-knigi-2014-goda/5.jpg")')
										.posabs-holder
											.posab.green
												span LIDERS
									.text-holder
										h4 Хроники Нарнии
										p
											| Автор: Том Селинджер
								.top-item.gold
									.image-holder
										img.fake-img(src='https://s-media-cache-ak0.pinimg.com/564x/77/52/22/775222663126f951f4e363d68ede8147.jpg', alt='img/content/anounc-3.png')
										.img(style='background-image: url("https://s-media-cache-ak0.pinimg.com/564x/77/52/22/775222663126f951f4e363d68ede8147.jpg")')
										.posabs-holder
											.posab.green
												span LIDERS
									.text-holder
										h4 Хроники Нарнии
										p
											| Автор: Том Селинджер
						.gen-line
							h4 Топ-100
						.top-holder.books-h
							.inline-layout
								.top-item.gold
									.image-holder
										img.fake-img(src='http://www.rulit.me/data/programs/images/do-vstrechi-s-toboj_296554.jpg', alt='img/content/anounc-1.png')
										.img(style='background-image: url("http://www.rulit.me/data/programs/images/do-vstrechi-s-toboj_296554.jpg")')
										.posabs-holder
											.posab.pink
												span TOP-100
									.text-holder
										h4 Хроники Нарнии
										p
											| Автор: Том Селинджер
								.top-item.gold
									.image-holder
										img.fake-img(src='http://www.bookvoed.ru/files/1377/25/62/38/3.jpg', alt='img/content/anounc-2.png')
										.img(style='background-image: url("http://www.bookvoed.ru/files/1377/25/62/38/3.jpg")')
										.posabs-holder
											.posab.pink
												span TOP-100
									.text-holder
										h4 Хроники Нарнии Хроники Нарнии
										p
											| Автор: Том Селинджер Автор: Том Селинджер Автор: Том Селинджер
								.top-item.gold
									.image-holder
										img.fake-img(src='http://www.fresher.ru/manager_content/images2/samye-populyarnye-knigi-2014-goda/5.jpg', alt='img/content/anounc-3.png')
										.img(style='background-image: url("http://www.fresher.ru/manager_content/images2/samye-populyarnye-knigi-2014-goda/5.jpg")')
										.posabs-holder
											.posab.pink
												span TOP-100
									.text-holder
										h4 Хроники Нарнии
										p
											| Автор: Том Селинджер
								.top-item.gold
									.image-holder
										img.fake-img(src='https://s-media-cache-ak0.pinimg.com/564x/77/52/22/775222663126f951f4e363d68ede8147.jpg', alt='img/content/anounc-3.png')
										.img(style='background-image: url("https://s-media-cache-ak0.pinimg.com/564x/77/52/22/775222663126f951f4e363d68ede8147.jpg")')
										.posabs-holder
											.posab.pink
												span TOP-100
									.text-holder
										h4 Хроники Нарнии
										p
											| Автор: Том Селинджер
							

						.sale
							.inline-layout.col-4
								.sale-col
									.sale-item
										.image-holder
											img(src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQOH3fZT9B05igu6t9EPd1Vi90-Zh7HiQze2g1QqjmMgFhI4hRb", alt="")
										.description
											p
												|Распродажа качественной женской обуви.
								.sale-col
									.sale-item
										.image-holder
											img(src="http://lambre.by/images/givenchy-hot-couture-eva-herzigova-2.jpg", alt="")
										.description
											p
												|Распродажа качественной женской обуви.
								.sale-col
									.sale-item
										.image-holder
											img(src="http://s019.radikal.ru/i605/1312/1d/659a09110db4.jpg", alt="")
										.description
											p
												|Распродажа качественной женской обуви.
								.sale-col
									.sale-item
										.image-holder
											img(src="http://www.myjulia.ru/data/cache/2010/02/23/348173_1769nothumb500.jpg", alt="")
										.description
											p
												|Распродажа качественной женской обуви.


							
		include ./partials/footer.jade

		include ./partials/scripts.jade
