doctype html
html(lang='ru')
	head
		title greatest page

		include ./partials/head.jade

	body

		include ./partials/noscript.jade
		include ./partials/top-line.jade

		

		include ./partials/footer.jade
		include ./partials/modals.jade

	include ./partials/scripts.jade
