doctype html
html(lang='ru')
	head
		title read_page_black

		include ./partials/head.jade

	body
		include ./partials/noscript.jade
		include ./partials/top-line-profile.jade



		section.content.black
			.container
				.reader
					.content-body.inline-layout
						.nav-panel
							a(href="#").back назад
								img(src="img/icons/back-arrow.png", alt="")
							a(href="#")#font-modal-open.font
								img(src="img/icons/font-icon.png", alt="")
							a(href="#")#chapter-modal-open.head  Оглавление
						.content-holder
							include ./partials/breadcrumbs.jade
							.text-holder
								.clearfix
									.image-holder
										img(src="img/content/rekl.png", alt="")
									p
										|Когда мы получили письмо, мама была на седьмом небе от счастья. Она уже размечталась, что наши проблемы навсегда остались в прошлом. Основной загвоздкой в ее блестящем плане оказалась ваша покорная слуга. Не то чтобы я была особенно строптивой дочерью, просто всему есть предел.
									p
										|Не хотела я вступать в королевскую семью. И Единицей становиться тоже не хотела. Даже не думала пробовать.
									p
										|Я спряталась в своей комнатушке — единственном месте, где можно укрыться от гомона многочисленных родственников, — и попыталась найти какой-нибудь довод, способный поколебать матушку. Все, что у меня имелось, — это набор твердых убеждений… Едва ли она прислушается хотя бы к одному.
									p
										|способный поколебать матушку. Все, что у меня имелось, —это набор твердых убеждений… Едва ли она прислушается хотя бы к одному.
									p
										|Таиться и дальше было невозможно. Дело шло к обеду, а обязанность готовить его возложена на меня как на самую старшую из оставшихся в доме дочерей. Я заставила себя вылезти из постели и отправилась на растерзание.
									p
										|Мама встретила меня мрачным взглядом, однако ничего не сказала.
									p
										|В молчании мы сновали по кухне и столовой: приготовили цыпленка, пасту и яблочные дольки, накрыли стол на пятерых. Поднимая глаза, я всякий раз натыкалась на испепеляющий взгляд матери, призванный, видимо, устыдить меня и заставить одуматься. Время от времени она прибегала к этому приему. Например, если я отказывалась браться за какой-нибудь заказ, потому что желающая нанять нас семья славилась грубостью. Или если она хотела, чтобы я сделала генеральную уборку, когда мы не могли себе позволить пригласить для этих целей кого-нибудь из Шестерок.
									p
										|Иногда ее тактика срабатывала. Иногда нет. Но в данной ситуации я готова была стоять насмерть.
									p
										|Она терпеть не могла, когда я упрямилась. Впрочем, эту черту характера я унаследовала от нее, так что она не должна слишком удивляться. Правда, на сей раз дело было не только во мне. В последнее время мама вообще была на взводе. Лето подходило к концу, надвигались холода. А с ними и заботы.Мама недовольно бухнула в центр стола кувшин с холодным чаем. При мысли о чае с лимоном у меня потекли слюнки. Терпение, сказала я себе: если выпить положенный мне стакан сейчас, потом придется запивать еду водой.
							.bunner-holder
								.image-holder
									img(src="img/content/bunner-1.png", alt="")

			.reader-nav
				.container
					ul.inline-layout
						li
							a(href="#") &#60; Назад
						li
							.search
								form(action="")
									input(type="text")
									a(href="#").search-btn
						li
							span 15 &nbsp;
							span из &nbsp; 
							span 482 
						li
							a(href="#") Вперед &#62;





		.main-modal#font-modal
			.modal-inner
				h4  Размер шрифта
				ul.inline-layout
					li
						a(href="#").active 12 пикс
					li
						a(href="#") 14 пикс
					li
						a(href="#") 16 пикс
					li
						a(href="#") 18 пикс
					li
						a(href="#") 24 пикс
				h4  Шрифт
				ul.inline-layout
					li
						a(href="#").active Open Sans
					li
						a(href="#") Arial
					li
						a(href="#") Times new Roman
				h4  Цвет
				ul.inline-layout
					li
						a(href="#").active Белый
					li
						a(href="#") Черный
					li
						a(href="#") Мягкий
					
				h4  Междустрочный интервал
				ul.inline-layout
					li
						a(href="#").active 1.2
					li
						a(href="#") 1.5
					li
						a(href="#") 1.8
				
				a#modalclose.close-btn(href="#")

		.main-modal#chapter-modal
			.modal-inner
				ul.chapter
					li
						a(href="#") Глава 1
					li
						a(href="#") Глава 2
					li
						a(href="#") Глава 3
					li
						a(href="#") Глава 4
					li
						a(href="#") Глава 5
					li
						a(href="#") Глава 6
				
				
				a#modalclose.close-btn(href="#")

							
		include ./partials/footer.jade

		include ./partials/scripts.jade
