doctype html
html(lang='ru')
	head
		title text-page

		include ./partials/head.jade

	body
		include ./partials/noscript.jade
		include ./partials/top-line-profile.jade


		include ./partials/breadcrumbs.jade

		section.content
			.container
				.content-body
					
					.text-body
						h3 FAQ
						p
							|Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero dicta accusantium quaerat at, consequuntur impedit porro a explicabo, minima deleniti ducimus ipsum quas quidem consectetur aliquid molestiae neque veritatis ipsa, nostrum facilis? Provident dolorum, exercitationem maiores quod aut saepe mollitia nulla. Quisquam nam vel magnam omnis rem sapiente dicta saepe!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero dicta accusantium quaerat at, consequuntur impedit porro a explicabo, minima deleniti ducimus ipsum quas quidem consectetur aliquid molestiae neque veritatis ipsa, nostrum facilis? Provident dolorum, exercitationem maiores quod aut saepe mollitia nulla. Quisquam nam vel magnam omnis rem sapiente dicta saepe!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero dicta accusantium quaerat at, consequuntur impedit porro a explicabo, minima deleniti ducimus ipsum quas quidem consectetur aliquid molestiae neque veritatis ipsa, nostrum facilis? Provident dolorum, exercitationem maiores quod aut saepe mollitia nulla. Quisquam nam vel magnam omnis rem sapiente dicta saepe!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero dicta accusantium quaerat at, consequuntur impedit porro a explicabo, minima deleniti ducimus ipsum quas quidem consectetur aliquid molestiae neque veritatis ipsa, nostrum facilis? Provident dolorum, exercitationem maiores quod aut saepe mollitia nulla. Quisquam nam vel magnam omnis rem sapiente dicta saepe!
					.sale.book
						.inline-layout.col-4
							.sale-col
								a(href="#")
									.sale-item
										.image-holder
											img(src="img/content/sale-1.png", alt="")
										.description
											p
												|Распродажа качественной женской обуви.
							.sale-col
								a(href="#")
									.sale-item
										.image-holder
											img(src="img/content/sale-2.png", alt="")
										.description
											p
												|Распродажа качественной женской обуви.
							.sale-col
								a(href="#")
									.sale-item
										.image-holder
											img(src="img/content/sale-3.png", alt="")
										.description
											p
												|Распродажа качественной женской обуви.
							.sale-col
								a(href="#")
									.sale-item
										.image-holder
											img(src="img/content/sale-4.png", alt="")
										.description
											p
												|Распродажа качественной женской обуви.


							
		include ./partials/footer.jade

		include ./partials/scripts.jade
